<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Peom</title>
    <link href="https://cdn.bootcss.com/fullPage.js/2.9.5/jquery.fullpage.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/fullPage.js/2.9.5/jquery.fullpage.min.js"></script>
  </head>
  <body>
    <div id="fullpage">
      <div class="section" id="section1">
		<div class="slide">
		  <div class="intro">
			<h1>Create Sliders</h1>
			<p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
			<img src="imgs/slider.png" alt="slider" />
		  </div>

		</div>
		<div class="slide">
		  <div class="intro">
			<img src="imgs/1.png" alt="simple" />
			<h1>Simple</h1>
			<p>Easy to use. Configurable and customizable.</p>
		  </div>
		</div>
      </div>
    </div>   
	  <div class="section">Some section</div>
    <script>
     $(document).ready(function() {
	     $('#fullpage').fullpage();
     });
    </script>
  </body>
</html>
