<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link href="https://cdn.bootcss.com/fullPage.js/2.9.5/jquery.fullpage.min.css" rel="stylesheet">
    <link href="/static/css/poem.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="fullpage">
      <div class="section">
        {{ range .poems }}
        <div class="slide">
          <div class="intro">
            <h2 class="title">{{ .title }}</h2>
            <p class="author">{{ .author }}</p>
            {{ range .paragraphs }}
            <p class="paragraphs">{{ . }}</p>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <script type="text/template" id="template">
      <div class="slide">
        <div class="intro">
            <h2 class="title">{0}</h2>
            <p class="author">{1}</p>
            {2}
        </div>
      </div>
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/fullPage.js/2.9.5/jquery.fullpage.min.js"></script>
    <script src="/static/js/poem.js"></script>
  </body>
</html>
