// app global css in SCSS form

.shici-layout {
    max-width: 800px;
    margin: 0 auto;
}

.shici-content {
    white-space: pre-line;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 500;
}