// app global css in SCSS form

.shici-about {
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $primary;
            font-weight: 500;
        }
    }
}

.shici-layout {
    max-width: 800px;
    margin: 0 auto;
}

.shici-content {
    white-space: pre-line;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 500;
}

.shici-chevron-left {
    max-width: 50%;
    .q-btn__content {
        flex-wrap: nowrap;
        align-items: center;
        text-align: left;
    }
}

.shici-chevron-right {
    max-width: 50%;
    .q-btn__content {
        flex-wrap: nowrap;
        align-items: center;
        text-align: right;
    }
}